.idea
.vscode
*.json
*.tfvars
*terraform.tf*
.terraform/
*.tfplan
*.tfstate
*.backup
*.lock
*.info
*go.mod
*go.sum
*.swp
!aws/terraform.tfvars.example
!gcp/terraform.tfvars.example
!azure/terraform.tfvars.example
.envrc
