.idea
.vscode
*.json
*.tfvars
*terraform.tf*
.terraform/
*.tfplan
*.tfstate
*.backup
*.lock
*.info
*.swp
!aws/terraform.tfvars.example
!gcp/terraform.tfvars.example
!azure/terraform.tfvars.example
.envrc
