# This is the very minimum variables example file. You have to put access and private keys for you AWS account, validator keys from Polkadot, a name and a content of your SSH public key that will be used to connect to the instance. For the full list of supported variables see variables.tf file in the root directory of this repo.

validator_keys = {
  key = {
    key="0xaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
    type="gran"
    seed="click click click click click click click click click click click click"
  },
  key2 = {
    key="0xbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"
    type="babe"
    seed="organ organ organ organ organ organ organ organ organ organ organ organ"
  },
  key3 = {
    key="0xcccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc"
    type="imon"
    seed="olive olive olive olive olive olive olive olive olive olive olive olive"
  },
  key4 = {
    key="0xdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd"
    type="para"
    seed="upper upper upper upper upper upper upper upper upper upper upper upper"
  },
  key5 = {
    key="0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee"
    type="audi"
    seed="cat cat cat cat cat cat cat cat cat cat cat cat"
  }
}

# This is the SSH key to be used on all the machines. You can remove `key_content` variable - in that case key with `key_name` will be searched in the list of AWS keys
key_name      = "keyname"
key_content   = "ssh-rsa AAAAAAaaaaaaaaaaaaaaaaaaaaaaaaaaAAAAAAAAAAAAAAAAAAAaaaaaaaaaaaaaaaaaaaAAAAAAAAAAAAAaaaaaaaaaaaaaaaaAAAAAAAAAAaaaaaaaaaaaaaAAAAAAAAaaaaaaaaaaaaAAAAAAAAaaaaaaaaaaaaaAAAAAAAaaaaaaaaaaaaaaaaaaaAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaAAAAAAAAAAAAAAAAAAAAAAaaaaaaaaaaaaaaaaaaaAAAaa user@node"

# This variable is used to avoid infrastructure crossing and for security purposes also. Infrastructure with `prefix` exists in its own namespace
prefix        = "prefix"

# Node key is used to unify nodes ids. This is the HEX ed25519 key without 0x prefix
node_key      = "cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc"
