# This is the very minimum variables example file. You have to put access and private keys for you AWS account, validator keys from Polkadot, a name and a content of your SSH public key that will be used to connect to the instance. For the full list of supported variables see variables.tf file in the root directory of this repo.

validator_keys = {
  key = {
    key="0xaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
    type="gran"
    seed="click click click click click click click click click click click click"
  },
  key2 = {
    key="0xbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"
    type="babe"
    seed="organ organ organ organ organ organ organ organ organ organ organ organ"
  },
  key3 = {
    key="0xcccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc"
    type="imon"
    seed="olive olive olive olive olive olive olive olive olive olive olive olive"
  },
  key4 = {
    key="0xdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd"
    type="para"
    seed="upper upper upper upper upper upper upper upper upper upper upper upper"
  },
  key5 = {
    key="0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee"
    type="audi"
    seed="cat cat cat cat cat cat cat cat cat cat cat cat"
  }
}
key_name      = "keyname"
key_content   = "ssh-rsa AAAAAAaaaaaaaaaaaaaaaaaaaaaaaaaaAAAAAAAAAAAAAAAAAAAaaaaaaaaaaaaaaaaaaaAAAAAAAAAAAAAaaaaaaaaaaaaaaaaAAAAAAAAAAaaaaaaaaaaaaaAAAAAAAAaaaaaaaaaaaaAAAAAAAAaaaaaaaaaaaaaAAAAAAAaaaaaaaaaaaaaaaaaaaAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaAAAAAAAAAAAAAAAAAAAAAAaaaaaaaaaaaaaaaaaaaAAAaa user@node"
prefix        = "prefix"
node_key      = "cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc"
